<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <form action="/weather" method="POST">
    <h1>Welcome to My Weather Website</h1>
    <h2>Here you get the current Weather and Temperature of a city</h2>
    
    <h2><label for="city">Enter the City name</label>
    <input type="text" name="city" height="20">

    <button type="submit" value="enter" >enter</button></form></h2>
    <% if(locals.temp&&locals.weather){ %>
        <h1><%= city %></h1>
        <h2>Temperature: <%= temp %>°C   </h2>
        <h2>Weather:<%= weather %> </h2>
        <% } %>
        <% if(locals.error) {%>
            <h2><%= error %></h2>
        <% } %>
            
</body>
</html>